
<div class="container">
    <form #productForm="ngForm" (ngSubmit)="addProduct()"> 
    <div>
        <label for="productName">Product Name*</label>
        <input type="text" [(ngModel)]="product.productName" required name="productName" #productName="ngModel">
        <div *ngIf="productName.touched && productName.invalid">
            Product Name is required
        </div>
    </div>
    <div>
        <label for="description">Description*</label>
        <input type="text" [(ngModel)]="product.description" required name="description" #description="ngModel">
        <div *ngIf="description.touched && description.invalid">
            Description is required
        </div>
    </div>
    <div>
        <label for="price">Price*</label>
        <input type="text" [(ngModel)]="product.price" required name="price" #price="ngModel">
        <div *ngIf="price.touched && price.invalid">
            Price is required
        </div>
    </div>
    <div>
        <label for="stockQuantity">Stock Quantity*</label>
        <input type="text" [(ngModel)]="product.stockQuantity" required name="stockQuantity" #stockQuantity="ngModel">
        <div *ngIf="stockQuantity.touched && stockQuantity.invalid">
            Stock Quantity is required
        </div>
    </div>
    <div>
        <label for="category">Category*</label>
        <select name="category" id="category" required [(ngModel)]="product.category" #category="ngModel">
            <option value="" disabled>Select Category</option>
            <option value="electronics">Electronics</option>
            <option value="homeAppliances">Home Appliances</option>
            <option value="books">Books</option>
            <option value="fashion">Fashion</option>
            <option value="toys">Toys</option>
            <option value="furniture">Furniture</option>
            <option value="beauty">Beauty</option>
        </select>
        <div *ngIf="category.touched && category.invalid">
            Category is required
        </div>
    </div>
    <div>
        <label for="brand">Brand*</label>
        <input type="text" [(ngModel)]="product.brand" required name="brand" #brand="ngModel">
        <div *ngIf="brand.touched && brand.invalid">
            Brand is required
        </div>
    </div>
    <div>
        <label for="coverImage">Cover Image*</label>
        <input type="file" [(ngModel)]="product.coverImage" required name="coverImage" #coverImage="ngModel">
        <div *ngIf="coverImage.touched && coverImage.invalid">
            Cover Image is required
        </div>
    </div>
    <button type="submit">Add Product</button>
    </form>
</div>


<div class="container">
    <button [routerLink]="['/admin-view']" >Back</button>
    <h2>Edit Product</h2>
    <form #productForm="ngForm" (ngSubmit)="addProduct()"> 
    <div>
        <label for="productName">Product Name*</label>
        <input type="text" [(ngModel)]="product.productName" required name="productName" #productName="ngModel">
        <div *ngIf="productName.touched && productName.invalid">
            Product Name is required
        </div>
    </div>
    <div>
        <label for="description">Description*</label>
        <input type="text" [(ngModel)]="product.description" required name="description" #description="ngModel">
        <div *ngIf="description.touched && description.invalid">
            Description is required
        </div>
    </div>
    <div>
        <label for="price">Price*</label>
        <input type="text" [(ngModel)]="product.price" required name="price" #price="ngModel">
        <div *ngIf="price.touched && price.invalid">
            Price is required
        </div>
    </div>
    <div>
        <label for="stockQuantity">Stock Quantity*</label>
        <input type="text" [(ngModel)]="product.stockQuantity" required name="stockQuantity" #stockQuantity="ngModel">
        <div *ngIf="stockQuantity.touched && stockQuantity.invalid">
            Stock Quantity is required
        </div>
    </div>
    <div>
        <label for="category">Category*</label>
        <select name="category" id="category" required [(ngModel)]="product.category" #category="ngModel">
            <option value="" disabled>Select Category</option>
            <option value="electronics">Electronics</option>
            <option value="homeAppliances">Home Appliances</option>
            <option value="books">Books</option>
            <option value="fashion">Fashion</option>
            <option value="toys">Toys</option>
            <option value="furniture">Furniture</option>
            <option value="beauty">Beauty</option>
        </select>
        <div *ngIf="category.touched && category.invalid">
            Category is required
        </div>
    </div>
    <div>
        <label for="brand">Brand*</label>
        <input type="text" [(ngModel)]="product.brand" required name="brand" #brand="ngModel">
        <div *ngIf="brand.touched && brand.invalid">
            Brand is required
        </div>
    </div>
    <div>
        <label for="coverImage">Cover Image*</label>
        <input type="file" [(ngModel)]="product.coverImage" required name="coverImage" #coverImage="ngModel">
        <div *ngIf="coverImage.touched && coverImage.invalid">
            Cover Image is required
        </div>
    </div>
    <button type="submit">Add Product</button>
    </form>
</div>


