<div class="container">
    <ul *ngIf="orders.length > 0">
        <li *ngFor="let order of orders">
            <p>Order ID: {{order.orderId}}</p>
            <p>Order Date: {{order.orderDate}}</p>
            <p>Status: {{order.orderStatus}}</p>
            <p>Shipping Address: {{order.shippingAddress}}</p>
            <p>Billing Address: {{order.billingAddress}}</p>
            <p>Total Amount: {{order.totalAmount}}</p>
            <select name="orderStatus" id="orderStatus" [(ngModel)]="order.orderStatus">
                <option value="Pending">Pending</option>
                <option value="Accepted">Accepted</option>
                <option value="Dispatched">Dispatched</option>
                <option value="OutForDelivery">OutForDelivery</option>
                <option value="Delivered">Delivered</option>
            </select>
        </li>
    </ul>
</div>
<div *ngIf="orders.length === 0">
    <h1>No Orders Found</h1>
</div>
