<footer class="footer">
    <div class="footer-content">
      <div class="address">
        <p>Office Address: Antilla, Altamount Road, Cumballa Hill, Mumbai, Maharashtra, India</p>
      </div>
      <div class="contact">
        <p>Contact Us: +91 98765 43210 | prokartservices&#64;gmail.com</p>
      </div>
      <div class="trademark">
        <p>&copy; 2025 ProKart. All rights reserved.</p>
      </div>
      <div class="link">
        <a routerLink="/user-view-product" class="view-products-link">View Products</a>
      </div>
    </div>
  </footer>
  