<div class="container">
    <h2>View Reviews</h2>
    <div>
        <input type="text" name="search" [(ngModel)]="searchData" id="search" placeholder="search reviews">
    </div>
    <div>
        <div *ngIf="reviews && reviews.length > 0">
            <ul>
                <li class="inside-container" *ngFor="let review of reviews | search:searchData">
                    <span>Product Name:{{review.product.productName}}</span><br>
                    <span>Rating: {{review.rating}}</span><br>
                    <span>Date: {{review.date | date:'mediumDate'}}</span><br>
                    <span>{{review.reviewText}}</span><br>
                    <div class="btn">
                        <button (click)="viewProduct(review.product.productId)">View Product</button>
                        <button (click)="viewProfile(review.reviewId)">View Profile</button>
                    </div>

                </li>
            </ul>
        </div>
        <div *ngIf="!reviews && reviews.length == 0">
            <span>No reviews found.</span>
        </div>
    </div>
    <!-- <div *ngIf="showProductDetails" class="productDetails">
        <h2>Product Details</h2>
        <div class="iproductDetails">
            <span>Name: {{product.productName}}</span><br>
            <span>Price: {{product.price}}</span><br>
            <span>Category: {{product.category}}</span><br>
            <span>Brand: {{product.brand}}</span><br>
            <span>Description: {{product.description}}</span><br>
        </div>
    </div> -->
    <div class="popup-overlay" id="productPopupOverlay">
        <div class="popup" id="productPopup">
            <span class="close-btn" (click)="closePopup('productPopup')">X</span>
            <h2>Product Details</h2>
            <div class="iproductDetails">
                <span>Name: {{product.productName}}</span><br>
                <span>Price: {{product.price}}</span><br>
                <span>Category: {{product.category}}</span><br>
                <span>Brand: {{product.brand}}</span><br>
                <span>Description: {{product.description}}</span><br>
            </div>
        </div>
    </div>
    <!-- <div *ngIf="showUserDetails" class="userDetails">
            <h2>User Profile</h2>
            <span>Username: {{review.user.username}}</span> <br>
            <span>Email: {{review.user.email}}</span> <br>
            <span>Mobile no: {{review.user.mobileNumber}}</span> <br>
        </div>  -->
    <div class="popup-overlay" id="userPopupOverlay">
        <div class="popup" id="userPopup">
            <span class="close-btn" (click)="closePopup('userPopup')">X</span>
            <h2>User Profile</h2>
            <span>Username: {{review.user.username}}</span> <br>
            <span>Email: {{review.user.email}}</span> <br>
            <span>Mobile no: {{review.user.mobileNumber}}</span> <br>
        </div>
    </div>

</div>




