<form (submit)="changePassword()" #passwordForm="ngForm">
  <input 
    type="password" 
    [(ngModel)]="oldInpPass" 
    name="oldInpPass" 
    class="form-control mb-3" 
    placeholder="Verify Old Password"
    required>

  <input 
    type="password" 
    [(ngModel)]="newPass" 
    name="newPass" 
    class="form-control mb-3" 
    placeholder="New Password"
    required minlength="6">

  <input 
    type="password" 
    [(ngModel)]="newConfirmPass" 
    name="newConfirmPass" 
    class="form-control mb-3" 
    placeholder="Confirm Password"
    required>

  <button type="submit" class="btn btn-primary w-100" [disabled]="passwordForm.invalid">
    Submit
  </button>
</form>
