<div class="modal fade show d-block" id="passwordModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="btn-close" routerLink="/**">X</button>
      </div>
      <div class="modal-body">
        <form (submit)="changePassword()" #passwordForm="ngForm">
          <input type="password" [(ngModel)]="oldInpPass" name="oldInpPass" class="form-control mb-3"
            placeholder="Verify Old Password" required>
 
          <input type="password" [(ngModel)]="newPass" name="newPass" class="form-control mb-3"
            placeholder="New Password" required minlength="6" #password="ngModel"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$">
         
          <span class="text-danger" *ngIf="password.touched && password.invalid">
            Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.
          </span>
 
          <input type="password" [(ngModel)]="newConfirmPass" name="newConfirmPass" class="form-control mb-3"
            placeholder="Confirm Password" required #confirmPass="ngModel">
         
          <span class="text-danger" *ngIf="newConfirmPass !== newPass && confirmPass.touched">
            Passwords do not match.
          </span>
 
          <button type="submit" class="btn btn-primary w-100"
            [disabled]="passwordForm.invalid || newConfirmPass !== newPass">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>