<div class="container-flex">
    <div class="container-div">
        <div class="left-half">
            <h3>ProKart</h3>
        </div>
        <div class="right-half">
            <form #registrationForm="ngForm" (ngSubmit)="register(registrationForm)" class="registration-form">
                <h4>Register</h4>
                <div class="form-group">
                    <input type="text" name="username" id="username" placeholder="Username" [(ngModel)]="username" required pattern="^\S+$" #usernameNgModel="ngModel" class="form-control">
                    <div *ngIf="usernameNgModel.invalid && usernameNgModel.touched" class="error">Username cannot contain spaces</div>
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="Email" [(ngModel)]="email" required pattern="^[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,}$" #emailNgModel="ngModel" class="form-control">
                    <div *ngIf="emailNgModel.invalid && emailNgModel.touched" class="error">Enter a valid email</div>
                    <button class="otp-button" type="button" (click)="sendOTP()">Send OTP</button>
                </div>
                <div class="form-group">
                    <input [(ngModel)]="otp" #otpNgModel="ngModel" placeholder="Enter OTP" name="otp" class="form-control">
                    <button class="otp-button" type="button" (click)="verifyOTP()">Verify OTP</button>
                </div>
                <div class="form-group">
                    <input type="text" name="mobile" id="mobile" placeholder="Mobile" [(ngModel)]="mobile" required pattern="^[6-9]\d{9}$" #mobileNgModel="ngModel" class="form-control">
                    <div *ngIf="mobileNgModel.invalid && mobileNgModel.touched" class="error">Valid 10-digit mobile number</div>
                </div>            
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" id="password" [(ngModel)]="password" required minlength="6" pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$" #passwordNgModel="ngModel" class="form-control">
                    <div *ngIf="passwordNgModel.invalid && passwordNgModel.touched" class="error">
                        Password must be at least 6 characters long, contain at least one uppercase letter, one lowercase letter, one number, and one special character, and should not contain spaces.
                    </div>
                </div>            
                <div class="form-group">
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword" [(ngModel)]="confirmPassword" required #confirmPasswordNgModel="ngModel" class="form-control">
                    <div *ngIf="confirmPasswordNgModel.invalid && confirmPasswordNgModel.touched" class="error">Confirm Password is required</div>
                    <div *ngIf="confirmPassword !== password && confirmPasswordNgModel.touched" class="error">Passwords do not match</div>
                </div>
                <div class="form-group">
                    <select name="role" [(ngModel)]="role" id="role" required class="form-control">
                        <option value="" disabled selected>Select Role</option>
                        <option value="ADMIN">Admin</option>
                        <option value="USER">User</option>
                    </select>
                    <div *ngIf="role === '' && registrationForm.submitted" class="error">Role is required</div>
                </div>
                <button type="submit" [disabled]="!registrationForm.valid || !otpVerified">Sign Up</button>
                <p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
            </form>
        </div>
    </div>
</div>

<style>
    .error {
        color: red;
        font-size: 0.9em;
    }
</style>
