.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../assets/images/background.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container-div {
    display: flex;
    width: 75%;
    height: 75%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-half, .right-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-half {
    border-right: 1px solid #ccc;
}

.left-half h1 {
    font-size: 3em;
    color: #007BFF;
}

.registration-form {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h4{
    text-align: center;
}
