<div>
    <h1>Products</h1>

    <!-- Controls for search and category -->
    <div class="controls">
        <!-- Search bar on the left -->
        <input type="text" placeholder="Search by product name" [(ngModel)]="searchData" (input)="searchProducts()">
        
        <!-- Dropdown on the right -->
        <select [(ngModel)]="selectedCategory" (change)="searchProducts()">
            <option value="">All Categories</option>
            <option value="electronics">Electronics</option>
            <option value="homeAppliances">Home Appliances</option>
            <option value="books">Books</option>
            <option value="fashion">Fashion</option>
            <option value="toys">Toys</option>
            <option value="furniture">Furniture</option>
            <option value="beauty">Beauty</option>
        </select>
    </div>

    <div class="container">
        <ul *ngIf="filteredProducts">
            <li *ngFor="let product of filteredProducts">
                <p>{{ product.productName }}</p>
                <p>Price: {{ product.price }}</p>
                <p>{{ product.description }}</p>
                <p>In stock: {{ product.stockQuantity }}</p>
                <p>Category: {{ product.category }}</p>
                <p>Brand: {{ product.brand }}</p>

                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" [(ngModel)]="product.selectedQuantity" 
                       (change)="validateQuantity(product)" 
                       [placeholder]="'Enter up to ' + product.stockQuantity" 
                       min="1">

                <button [routerLink]="['/cart',product.user.userId,product.productId]">Add To Cart</button><br>
                <button routerLink="/admin-view-reviews">View Reviews</button><br>
                <button routerLink="/review">Write a Review</button><br>
            </li>
        </ul>
    </div>

    <div *ngIf="!products.length">
        <p>No Products Found</p>
    </div>
</div>
