<nav class="navbar">
  <div class="navbar-left">
    <span>ProKart</span>
  </div>
  <div class="navbar-right">
    <div class="dropdown">
      <b><span class="admin-box" (click)="showUserDetails()">{{username}} /Admin</span></b>
    </div>

    <a routerLink="/home-page">Home</a>
    <div class="dropdown">
      <a>Product</a>
      <div class="dropdown-content">
        <a routerLink="/product-create">Add Product</a>
        <a routerLink="/admin-view-product">View Products</a>
      </div>
    
    <a routerLink="/order-placed">Order Placed</a>
    <a routerLink="/admin-view-reviews">Reviews</a>
    <a (click)="confirmLogout()">Log Out</a>
  </div>
</nav>

<div class="popup-overlay" *ngIf="popupVisible" >
  <div class="popup" *ngIf="popupVisible">
    <div class="popup-content">
      <h3>Are you sure you want to log out?</h3>
      <div class="popup-buttons">
        <button (click)="logoutConfirmed()">Yes</button>
        <button (click)="cancelLogout()">No</button>
      </div>
    </div>
  </div>
</div>

<div class="popup" *ngIf="userDetailsPopupVisible">
  <div class="popup-content">
    <h3>User Details</h3>
    <p><b>Username:</b> {{user.username}}</p>
    <p><b>Email:</b> {{user.email}}</p>
    <p><b>Phone Number:</b> {{user.mobileNumber}}</p>
    <p><b>Password:</b> ******</p>
    <button routerLink="/change-password">Reset Password</button>
    <button (click)="closeUserDetails()">Close</button>
  </div>
</div>