<nav class="navbar">
    <div class="navbar-left"> <!-- ProKart on the far left -->
      <span>ProKart</span>
    </div>
    <div class="navbar-right"> <!-- Links ordered from left to right -->
      <b><span class="admin-box">admin/Admin</span></b>
      <a routerLink="/home-page">Home</a>
      <div class="dropdown">
        <a>Product</a>
        <div class="dropdown-content">
          <a routerLink="/product-create">Add Product</a>
          <a routerLink="/admin-view-products">View Products</a>
        </div>
      </div>
      <a routerLink="/order-placed">Order Placed</a>
      <a routerLink="/admin-view-reviews">Reviews</a>
      <a routerLink="/login">Log Out</a>
    </div>
  </nav>
  