<nav class="navbar">
  <div class="navbar-left">
    <span>ProKart</span>
  </div>
  <div class="navbar-right">
    <b><span class="user-box">{{username}} /User</span></b>
    <a routerLink="/home-page">Home</a>
    <div class="dropdown">
      <a>Products</a>
      <div class="dropdown-content">
        <a routerLink="/user-view-product">View Products</a>
        <a [routerLink]="['/my-order',userId]">My Orders</a>
      </div>
    </div>
    <a routerLink="/my-review">Reviews</a>
    <a routerLink="/cart">Cart</a>
    <a (click)="confirmLogout()">Log Out</a>
  </div>
</nav>

<!-- Logout Confirmation Pop-Up -->
<div class="popup" *ngIf="popupVisible">
  <div class="popup-content">
    <h3>Are you sure you want to log out?</h3>
    <div class="popup-buttons">
      <button (click)="logoutConfirmed()">Yes</button>
      <button (click)="cancelLogout()">No</button>
    </div>
  </div>
</div>