   .container{
      margin-top: 10px;
   }
   .review-container {
      border:1px solid rgba(128, 128, 128, 0.483);
      width: 40%;
      display: block;
      margin: 20px auto; 
      padding:10px;
   }

   .review-container h2{
      font-size: 30px;
      text-align: center;
      margin-bottom: 25px;

   }
   textarea{
      width: 90%;
      display:block;
      margin: 0 auto;
      height: 100px;
      
   }
   /* #cstars{
      display:block;
      border:2px solid red;
      margin: 0 auto;
   } */

   .star-rating {
      display: flex;
      cursor: pointer;
      display: block;
      margin:15px auto;
   }

   .star-rating span {
      font-size: 2em;
      color: lightgray;
   }

   .star-rating span.filled {
      color: gold;
   }
   button{
      width: 90%;
      padding: 8px;
      display: block;
      margin:0 auto;
      color:white;
      background-color: rgb(100 7 213);
   }


   .ireview-container{
      display: flex;
      flex-direction: column;
   }