   .container{
      
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height:100vh;
         
      }
   .review-container {
      width: 40%;
      height: 500px;
      padding: 20px;
      border: 1px solid #ddd;
      background-color: #f9f9f9;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      
   }

   .review-container h2{
      font-size: 30px;
      text-align: center;
      margin:20px;
      margin-bottom: 50px;

   }
   textarea{
      width: 90%;
      display:block;
      margin: 10px auto;
      height: 120px;
      font-size: 20px;
   }
   .star-rating {
      display: flex;
      cursor: pointer;
      display: block;
      margin:15px auto;
   }

   .star-rating span {
      /* border: 2px solid red; */
      font-size: 3em;
      color: lightgray;
   }

   .star-rating span.filled {
      color: gold;
   }
   button{
      
      width: 90%;
      padding: 8px;
      display: block;
      margin:0 auto;
      margin-top: 30px;
      color:white;
      border-radius: 5px;
      background-color: #008080;
      
   }


   .ireview-container{
      display: flex;
      flex-direction: column;
   }


   

    