<div class="container">
    <h1>My Orders</h1>
    <ul *ngIf="orders.length > 0">
        <li *ngFor="let order of orders" class="order-box">
            <h2>Order ID: {{ order.orderId }}</h2>
            <p>Order Date: {{ order.orderDate | date: 'medium' }}</p>
            <p>Status: {{ order.orderStatus }}</p>
            <p>Shipping Address: {{ order.shippingAddress }}</p>
            <p>Billing Address: {{ order.billingAddress }}</p>
            <p>Total Amount: ₹{{ order.totalAmount }}</p>

            <div class="products-container">
                <h3>Products in the Order:</h3>
                <div *ngFor="let item of order.orderItems" class="product-box">
                    <span class="product-name">Product: {{ item.product.productName }} </span>
                    <span class="product-quantity">Quantity: {{ item.quantity }}</span>
                    <button class="review" [disabled]="order.orderStatus.toLowerCase() !== 'delivered'" [routerLink]="['/review',item.product.productId]">Write a review</button>
                </div>
            </div>

            <div class="buttons-container">
                <button (click)="openTrackOrderModal(order.orderStatus)" class="track-order-button">Track Order</button>
                <button (click)="viewItems(order.orderId)" class="view-items-button">View Items</button>
                <button class="cancel-button"
                    [disabled]="order.orderStatus.toLowerCase() !== 'accepted' && order.orderStatus.toLowerCase() !== 'pending'"
                    (click)="openCancelPopup(order.orderId)">
                    Cancel Order
                </button>

            </div>
        </li>
    </ul>

    <div *ngIf="orders.length === 0" class="no-orders">
        <h2>No Orders Found</h2>
    </div>
</div>

<!-- Items List Modal -->
<div class="modal" *ngIf="showModal">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>Order Items</h2>
        <ul>
            <li *ngFor="let item of selectedOrderItems" class="product-details-box">
                <p><strong>Product:</strong> {{ item.product.productName }}</p>
                <p><strong>Brand:</strong> {{ item.product.brand }}</p>
                <p><strong>Category:</strong> {{ item.product.category }}</p>
                <p><strong>Description:</strong> {{ item.product.description }}</p>
                <p><strong>Price:</strong> ₹{{ item.product.price }}</p>
                <p><strong>Quantity:</strong> {{ item.quantity }}</p>
            </li>
        </ul>
        <button class="close-modal-button" (click)="closeModal()">Close</button>
    </div>
</div>

<!-- Track Order Modal -->
<div class="modal" *ngIf="showTrackOrderModal">
    <div class="modal-content">
        <span class="close" (click)="closeTrackOrderModal()">&times;</span>
        <h2>Track Order</h2>
        <div class="progress-container">
            <div class="progress-bar" [ngClass]="getOrderStatusClass(currentOrderStatus)"></div>
            <div class="status-indicators">
                <span>Pending</span>
                <span>Accepted</span>
                <span>Dispatched</span>
                <span>OutForDelivery</span>
                <span>Delivered</span>
            </div>
        </div>        
        <button class="close-modal-button" (click)="closeTrackOrderModal()">Close</button>
    </div>
</div>

<div class="modal" *ngIf="showCancelPopup">
    <div class="modal-content">
        <span class="close" (click)="closeCancelPopup()">&times;</span>
        <h2>Confirm Cancelation</h2>
        <p>Are you sure you want to cancel this order?</p>
        <div class="popup-buttons-container">
            <button class="popup-cancel-button" (click)="closeCancelPopup()">Cancel</button>
            <button class="popup-confirm-button" (click)="confirmCancelOrder()">Confirm</button>
        </div>
    </div>
</div>